NEXT_PUBLIC_SUPABASE_URL=https://TU-PROYECTO.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu_anon_key_aqui

NEXT_PUBLIC_SITE_NAME=Inmobiliaria
NEXT_PUBLIC_WHATSAPP_NUMBER=5492210000000
NEXT_PUBLIC_PHONE=+54 221 000-0000
NEXT_PUBLIC_EMAIL=contacto@inmobiliaria.com
NEXT_PUBLIC_FACEBOOK_URL=https://facebook.com/tu-pagina
NEXT_PUBLIC_INSTAGRAM_URL=https://instagram.com/tu-usuario
NEXT_PUBLIC_MAPS_URL=https://www.google.com/maps/search/?api=1&query=Matias+Pezzato+Propiedades+25+de+Mayo+Buenos+Aires
